<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Welcome to Hangman</h3>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-md-6 trg">
        <div class="panel panel-info">

        </div>
    </div>

    <div class="col-md-6 pod">
        <div class="panel panel-info">

        </div>
    </div>

    <div id="logoutSuccess" hidden="hidden">{{ logoutSuccessMessage }}</div>
    <div id="registerSuccess" hidden="hidden">{{ registerSuccessMessage }}</div>
    <div id="welcomeMessage" hidden="hidden">{{ welcomeMessage }}</div>

</div>